<div class="container mt-3" class="loginimage">
    <h2>SIGN UP</h2>
    <form #signupform="ngForm" (ngSubmit)=registerUser() class="form-vertical">
        <div class="mb-3 mt-3">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" [(ngModel)]="user.firstName" required>
          </div>
          <div class="mb-3">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" [(ngModel)]="user.lastName" required>
          </div>
          <div class="mb-3">
          <label for="role">Role:</label>
          <select class="form-select" name="role" [(ngModel)]="user.role" required>
            <option>Author</option>
            <option>Reader</option>
          </select>
        </div>
      <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-z]{2,3}$" #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
        >
      </div>
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email Id is required field.</small> 
        <small class="text-danger" *ngIf="email.errors.pattern">Enter valid Email Id.</small>
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password ="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required.</small>
      </div>
      <div class="text-center"> 
      <button [disabled]="signupform.form.invalid" type="submit" class="btn btn-success">Register</button>
    </div>
    </form>
  </div>
